.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-image-1 {
  height: 448px;
  width: 1264px;
  margin: 383px -62px 0;
}

.u-section-1 .u-group-1 {
  width: 925px;
  min-height: 525px;
  margin: -801px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-align: center;
  font-size: 1.25rem;
  margin: 32px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-image-1 {
    height: 333px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -685px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-image-1 {
    height: 264px;
    margin-top: 524px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: -757px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-image-1 {
    height: 211px;
    margin-top: 496px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -687px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-image-1 {
    height: 143px;
    width: 394px;
    margin-top: 590px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -704px;
    margin-bottom: -27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}